.home__section {
  height: 100vh;
  width: 100vw;

  // background-image: url(../../../assets/imagen-cover-provisional.jpg);
  // background-attachment: fixed;

  // background-color: white;

  background-color: $dark-bg;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.home__section-content {
  width: 35%;

  display: table-cell;
  max-height: 90%;

  h1 {
    color: white;
    margin-bottom: 8px;
  }
  p {
    color: white;
  }
}
