.home__section {
  height: 200vh;
  background-image: url(../../../assets/imagen-cover-provisional.jpg);
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
