.About__section {
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.About__section-grid {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10vh 20px;
  max-width: 68rem;
  min-height: 50vh;
}

.About__section-content-left {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;

  h1 {
    margin-bottom: 1rem;
    margin-top: 10rem;
  }

  p {
    margin-bottom: 6rem;
  }
}
