// .About__gradient-background {
//   align-items: center;
//   background-attachment: fixed;
//   background-color: rgb(53, 53, 53);
//   background-image: $gradient;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border-radius: 0;
//   color: white;
//   display: flex;
//   justify-content: center;
//   min-height: 8px;
// }

.About__section {
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

.About__section-grid {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20vh 20px;
  margin-top: 20vh;
  max-width: 68rem;
  min-height: 50vh;
}

.About__section-content-left {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;

  h1 {
    margin-bottom: 1rem;
    margin-top: 10rem;
  }

  p {
    margin-bottom: 6rem;
  }
}
