.About__gradient-background {
  min-height: 6vh;
  background-attachment: fixed;
  background-color: rgb(53, 53, 53);
  //   background-image: url(../../../assets/imagen-prueba.jpg);

  // background-image: -webkit-linear-gradient(65deg, #a23eff, #180cff);

  background-image: linear-gradient(
    315deg,
    #a23eff 0%,
    #7300ff 50%,
    #140af3 100%
  );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 0;

  align-items: center;
  justify-content: center;
  color: white;
}

.About__section {
  min-height: 100vh;
  width: 100vw;

  background-color: white;
  // background-color: $dark-mode-bg;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  position: relative;
}

.About__section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-inline: 10px;
}

.About__section-content-left {
  width: 80%;
  h1 {
    color: $dark-bg;
    // color: $dark-mode-text;

    margin-bottom: 16px;
  }
  p {
    color: $dark-bg;
    // color: $dark-mode-text;
  }
  hr {
    background-color: black;
    border: 1px solid black;
  }
}

.About__section-content-right {
  width: 35%;
  max-height: 90%;

  h1 {
    color: $dark-bg;
    margin-bottom: 8px;
  }
  p {
    color: $dark-bg;
  }
}
