.Contact__section {
  // min-height: calc(75vh - 53px);
  min-height: 80vh;
  width: 100vw;

  // background-color: lighten($color: $dark-bg, $amount: 30);
  background-color: white;
  // background-color: $dark-mode-bg;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;

  grid-template-rows: 0px auto;

  span {
    width: 35vw;
    height: 10px;
    border-radius: 6px;
    transform: translateY(65px);
  }
}

.Contact__section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-inline: 10px;
}

.Contact__section-content-left {
  width: 80%;
  h1 {
    color: $dark-bg;
    // color: $dark-mode-text;

    margin-bottom: 8px;
  }
  p {
    color: $dark-bg;
    // color: $dark-mode-text;
  }
}

.Contact__section-content-right {
  width: 35%;
  max-height: 90%;

  h1 {
    color: $dark-bg;
    margin-bottom: 8px;
  }
  p {
    color: $dark-bg;
  }
}
