.Contact__section {
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.Contact__section-grid {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin-block: 25vh;
  margin-inline: $section-margin-inline;
  max-width: 68rem;
  min-height: 50vh;

  gap: 10%;
}

.Contact__section-content-left {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;

  .Contact__number {
    right: 0;
  }

  h1 {
    margin-bottom: 1rem;
    margin-top: 10rem;

    text-align: right;
  }

  p {
    margin-bottom: 6rem;

    text-align: right;
  }
}

.Contact__section-form-container {
  display: flex;
  align-items: center;

  margin-block: 10vh;

  // margin-top: 10rem;

  form {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;

    input,
    textarea {
      padding: 0.5rem;
      resize: none;
      outline: none;
      border-style: none;
      border: 2px solid $translucid-grey;
      width: 100%;
      margin-bottom: 1rem;

      transition: 0.2s;

      &:focus {
        outline-offset: 2px;
        box-shadow: 0 6px 0px -2px $accent;
      }
    }

    :first-child {
      width: calc(50% - 0.5rem);
      height: fit-content;
    }

    :nth-child(2) {
      width: calc(50% - 0.5rem);
      margin-left: auto;
      height: fit-content;
    }

    :nth-child(3) {
      width: 100%;
      height: fit-content;
    }

    :nth-child(4) {
      width: 100%;
      height: fit-content;
    }

    :nth-child(5) {
      width: 100%;
      display: flex;

      span {
        color: red;
        font-family: "inter";
        font-size: 1.25rem;
      }

      p {
        color: grey;
        font-size: 1rem;
      }

      > input {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        padding: 0.5rem 1.5rem;
        border-radius: 0.3rem;
        border-style: none;
        opacity: 100%;
        color: white;

        background-image: $gradient;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
