// .progress {
//   height: 4px;
//   background-color: $accent;
//   position: fixed;
//   top: 0;
//   left: 0;
// }

header {
  position: fixed;
  width: 100%;
}

.header__nav {
  padding: 0px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  // border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.tag-logo {
  text-align: center;
  font-size: 26px;
  align-self: center;
  padding: 0 10px 1px 10px;
  font-weight: 400;
  // filter: drop-shadow(-2px 2px 0px $accent);
}

.header__nav-ul {
  display: flex;
  gap: 1.5rem;
  height: 100%;

  span {
    color: white;
    font-weight: 400;
  }
}

.header__nav-a {
  color: darken($color: white, $amount: 30);
  padding: 14px;
  transition: color 0.8s ease;

  > span {
    margin-right: 8px;
  }

  &:hover {
    color: white;
    transition: color 0.1s ease;
  }
}

.hover-underline {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: $accent;
    transform-origin: bottom left;
    transition: transform 0.4s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
  }
}
