.Skills__gradient-background {
  min-height: 6vh;
  background-attachment: fixed;
  background-color: rgb(53, 53, 53);
  //   background-image: url(../../../assets/imagen-prueba.jpg);

  background-image: -webkit-linear-gradient(65deg, rgb(162, 62, 255), #180cff);

  //   background-image: -webkit-linear-gradient(65deg, rgb(162, 62, 255), #222222);

  //   background-image: -webkit-linear-gradient(75deg, rgb(0, 0, 0), #180cff);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 0;

  align-items: center;
  justify-content: center;
  color: white;
}

.Skills__section {
  min-height: 100vh;
  width: 100vw;

  //   background-color: darken($color: white, $amount: 75);
  background-color: $dark-bg;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;

  grid-template-rows: 0px auto;
}

.Skills__section:hover .Skills__number {
  transform: translateY(-70px);
  opacity: 0.2;
}

.Skills__section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-inline: 10px;
}

.Skills__section-content-left {
  width: 80%;
  overflow: hidden;

  h1 {
    // color: $dark-bg;
    // color: $dark-mode-text;
    color: white;

    margin-bottom: 16px;
  }
  p {
    // color: $dark-bg;
    // color: $dark-mode-text;
    color: white;
  }
}

.Skills__section-content-right {
  width: 35%;
  max-height: 90%;

  h1 {
    color: $dark-bg;
    margin-bottom: 8px;
  }
  p {
    color: $dark-bg;
  }
}

.Skills__number {
  position: relative;
  //   left: 30px;
  top: 170px;
  font-size: 240px;
  font-weight: 600;
  color: #9d9d9d;
  opacity: 0.1;
  transition: 1s;
  z-index: 0;
}

// .Skills__number:hover {
//   transform: translateY(-70px);
// }
