// Partials:

$accent: rgb(46, 53, 250);

$dark-bg: darken(
  $color: white,
  $amount: 94,
);

$translucid-grey: rgba(128, 128, 128, 0.3);

$grey-lm: #d9d8d8;
$grey-dm: #313131;

$section-margin-inline: 100px;

$anchor: rgb(0, 183, 255);

$gradient: -webkit-linear-gradient(
  35deg,
  rgb(9, 218, 255),
  // rgb(88, 82, 255),
  rgb(166, 97, 255)
);

$dark-bg2: darken(
  $color: white,
  $amount: 90,
);

$light-bg2: darken(
  $color: white,
  $amount: 8,
);

// $dark-bg2: black;
