@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// General:

* {
  font-family: "Inter", "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  background-color: $dark-bg;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid white;
}

h1 {
  font-size: 44px;
}

p {
  font-size: 16px;
}

// Scrollbar styles:

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: lighten($color: $dark-bg, $amount: 10);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);
  border-radius: 1px;
  outline: 1px solid var(--secondary-color);

  &:hover {
    background-color: rgb(143, 143, 143);
  }
}

// Font classes:

.font-big {
  font-size: 46px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.font-section-title {
  font-size: 28px;
  font-weight: 400;
  color: white;
}

.font-div-title {
  color: white;
  font-size: 22px;
}

.font-subtitle {
  color: white;
  font-size: 16px;
}

.font-p {
  color: white;
  font-size: 12px;
}

// Generic classes:

.separator {
  position: absolute;
  width: 25vw;
  height: 8px;
  border-radius: 6px;
  top: 67px;
}

// Typewritter effect:

.typed-container {
  display: inline-block;
  width: fit-content;
}

.typed-text {
  font-family: "Source Code Pro", "Courier New", monospace;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid $accent;
  font-size: 18px;
  animation: typing 3s steps(21) forwards, blink 0.8s infinite; // steps = number of letters
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: $accent;
  }
}

// Glassmorphism effect:

.glass {
  color: #ecf0f1;

  padding: 20px;
  // background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.7);
  // border: solid 1px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

// Gradient effect:

.gradient-text {
  // background: -webkit-linear-gradient(
  //   45deg,
  //   rgb(192, 2, 255),
  //   rgb(24, 12, 255)
  // );
  background: -webkit-linear-gradient(
    45deg,
    rgb(162, 62, 255),
    rgb(24, 12, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-div {
  // background: -webkit-linear-gradient(45deg, rgb(192, 2, 255), #180cff);
  background: -webkit-linear-gradient(45deg, rgb(162, 62, 255), #180cff);
  -webkit-text-fill-color: transparent;
}
