// Partials:

$dark-bg: darken(
  $color: white,
  $amount: 92,
);
$grey: #82828a;
// $accent: #2d62cc;
$accent: #4e21fe;
// $accent: #5450f7;

$dark-blue: #111827;

// $dark-mode-bg: #282828;
$dark-mode-bg: #1b0055;
$dark-mode-text: white;

// $accent: #184fc7;
