// Partials:

$dark-bg: #111111;
$grey: #82828a;
// $accent: #2d62cc;
$accent: #4209ff;

$dark-blue: #111827;

// $dark-mode-bg: #282828;
$dark-mode-bg: #1b0055;
$dark-mode-text: white;

// $accent: #184fc7;
